<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Customers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor='let customer of customers'>
      <h2>{{ customer.name | uppercase }}</h2>
      <h2>{{ customer.lastname | uppercase }}</h2>
      <p>{{ customer.city }}</p>
      <p>{{ customer.phone }}</p>
    </ion-item>
  </ion-list>
</ion-content>
